<!-- Author: Adam Forbush -->
<!-- Description: Movie Website for Joel Hilton -->

@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<!-- Link to Quick Wits Comedy with descriptive text -->
<p>Check out <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>, where I regularly perform!</p>

<a href="https://baconsale.com/" target="blank">
    <img src="~/imgs/baconsalekate.jpg" style="width: 100%; max-width: 300px; height: auto;" />
</a>

<p>Click <a href="https://baconsale.com/" target="_blank">here</a> to learn more about what my podcast is about!</p>