<!-- Author: Adam Forbush -->
<!-- Description: Movie Website for Joel Hilton -->

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Joel Hilton Film Collection</a>.</p>
    <img src="~/imgs/joelhiltonheadshot.jpg" />
</div>
